<!--to specify the type of model for this view:-->
@model  Vidly1.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Customers.Count > 1 ? "popular" : null;
}

<!--having a class available only if it has been rented 5 times-->
<h2 class="@className">@Model.Movie.Name</h2>

<!--To render name of customers use a foreach block-->
<!--Using Razor view-->
@if (Model.Customers.Count == 0)
{
    <p>No one has rented this movie before</p>
}
else
{

    <ul>

        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }

    </ul>

}

